.btn {
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 20px;
  filter: brightness(100%);
  width: 100%;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  filter: brightness(110%);
}

.btn-primary {
  background: var(--primary-color);
}

/* colors */

.highlight {
  color: var(--primary-color);
}

.correct-answer {
  color: var(--dark-green-color);
  background-color: var(--light-green-color);
}

.wrong-answer {
  color: var(--dark-red-color);
  background-color: var(--light-red-color);
}
