/* SCREEN CONTAINER */
.screen-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* BUTTONS */
.btn-screen {
  display: block;
  max-width: 20ch;
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: center;
  margin: 2rem;
}

.btn-screen:hover {
  transform: scale(1.1);
}
